<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="simple-navbar">
        <div class="container">
            <div class="simple-navbar-content">
                <div class="logo">
                    <a href="http://localhost:5000/">my logo</a>
                </div>
                <ul class="link-list">
                    <li>
                        <a href="http://localhost:5000/">home</a>
                    </li>
                    <li>
                        <a href="http://localhost:5000/services">services</a>
                    </li>
                    <li>
                        <a href="http://localhost:5000/contact">contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> 
    <main>
        <section class="our-service">
            <div class="container">
                <div class="our-service-content">
                    <div class="title">
                        <h1>welcome to our Services</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam.</p>
                    </div>
                    <ul class="service-list">
                        <li>
                            <img src=<%= services.seo.img %> alt=<%= services.seo.service %> />
                            <h2><%= services.seo.service %></h2>
            
                        </li>
                        <li>
                            <img src=<%= services.webDisign.img %> alt=<%= services.webDisign.service %> />
                            <h2><%= services.webDisign.service %></h2>
                        </li>
                        <li>
                            <img src=<%= services.webDevelpment.img %> alt=<%= services.webDevelpment.service %> />
                            <h2><%= services.webDevelpment.service %></h2>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
</body>
</html>